body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(32, 235, 208);;
    height: 100vh;
}

.container{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 50vh; */
}

.sliderWrapper{
    position: relative;
    max-width: 80%;
    margin: auto;
    /* padding-top: 100px; */
    
}

.slider{
    
    display: flex;
    aspect-ratio: 16 / 9;
    /* overflow-x: auto; */
    overflow: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 5px 5px 35px 5px rgba(0, 0, 0, 0.664);
    border-radius: 0.5rem;
}

.slider img{
    flex: 1 0 100% ;
    scroll-snap-align: start;
    object-fit: cover;
}
.sliderNav{
    max-width: 80%;
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
}

.sliderNav a{
    width: 0.5rem ;
    height: 0.5rem ;
    border-radius: 50% ;
    background-color: rgb(32, 211, 235);
    opacity: 0.8;
    transition: ease 250ms;
    outline: 1px solid rgb(32, 211, 235);
    outline-offset: 2px;
    
}


.sliderNav a:hover{
    opacity: 1;
    width: 2rem ;
    border-radius:15px ;

}